/* Buttons */

.il_btn {
    padding: 1.6rem 3.6rem;
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    transition: var(--theme-transition);
    font-weight: 700;
    @include limbo-max {
      padding: 2.2rem 4.8rem;
    }
    &.button-color-blue, &.button-hover-color-blue:hover {
      background-color: var(--color-1);
    }
    &.button-color-green, &.button-hover-color-green:hover {
      background-color: var(--color-2);
    }
    &.button-color-pink, &.button-hover-color-pink:hover {
      background-color: var(--color-3);
    }
    &:not(:last-child), &:not(:last-child):not(:only-child) {
      margin-right: 3rem;
    }
  }