.wpcf7-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.6rem;
    p {
        width: 100%;
        @include limbo-min {
            width: 48%;
            margin-bottom: 3.6rem;
        }
    }
    .cf7-width-100 {
        width: 100%;
        margin-right: 0;
    }
    .submit-button {
        @include tab-max {
            margin-top: 1.5rem;
        }
        @include limbo-min {
            width: 100%;
            margin-bottom: 0;
        }
    }
    input:not(.wpcf7-submit), select, textarea {
        border: 1px solid #D9D9D9;
        border-radius: 6px;
        width: 100%;
        appearance: none;
        background-color: #EFF2F7;
        background-position: center right 1.7rem;
        background-repeat: no-repeat;
        padding: 1.2rem 2rem 1.3rem 2rem;
        box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.10);
        @include tab-max {
            padding: 2rem 3rem 2rem 3rem;
        }
    }
    textarea {
        padding-left: 2rem;
    }
    input:not(.wpcf7-submit):focus-visible, select:focus-visible, textarea:focus-visible {
        outline: none;
    }
    input:not(.wpcf7-submit), select, textarea, input:not(.wpcf7-submit)::placeholder, select::placeholder, textarea::placeholder {
        font-size: 16px;
        color: #505D68;
        font-weight: 300;
        @include mob-only {
            font-size: 15px;
        }
    }
    select {
        appearance: none;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAHCAYAAAA4R3wZAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACZSURBVHgBjZC9DcMgEIW5hAEygkdwJBbIBskIKZCgS8ZIFaUCxDCxewpG8AieAHxXIPkHyf4anuB9QnfAEK31F4+WHSMaY96cUs75BwB/jM2ONGD3SQHKjVKq2ZFJullrh4VISClbzjnJl5U0onQtEnGav3rvIxYeld/uc2kjEljoyhxESumFy+jXvTOrEEKIQgiKnXPuU+tM+2M7XnmmCZgAAAAASUVORK5CYII=);
        background-size: 1.4rem;
        background-position: left 5% center;
        background-repeat: no-repeat;
        @include limbo-max {
            background-size: 2.2rem;
        }
    }
    .cf7-submit-btn {
        text-align: center;
        @include limbo-min {
            text-align: left;
        }
    }
    input.wpcf7-submit {
        margin-top: 5px;
        padding: 1.2rem 2.4rem;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        border-radius: 6px;
        border: none;
        transition: var(--theme-transition);
        font-size: 18px;
        font-weight: 500;
        min-width: 11rem;
        background-color: var(--color-3);
        line-height: 1.2;
        @include limbo-max {
            line-height: 20px;
            padding: 1.8rem 3.8rem;
            min-width: 144px;
        }
    }
    input.wpcf7-submit:hover {
        background: var(--color-1);
    }
    div.wpcf7-response-output {
        font-size: 14px;
        margin-top: 1.2em;
    }
    .wpcf7-not-valid-tip {
        font-size: 14px;
        margin-top: 1rem;
    }
    .wpcf7-spinner {
        display: none;
    }
    @include mob-only {
        .cf7-order-1-mob {
            order: 1;
        }
        .cf7-order-1-mob {
            order: 2;
        }
        .cf7-order-3-mob {
            order: 3;
        }
        .cf7-order-1-mob {
            order: 4;
        }
        .cf7-order-1-mob {
            order: 5;
        }
        .cf7-order-6-mob {
            order: 6;
        }
        .cf7-order-7-mob {
            order: 7;
        }
        .cf7-order-8-mob {
            order: 7;
        }
    }
  }