  @include desk-min {
    .cols-2 { // Columns Component
      .column {
        width: 48.5%;
        margin-top: 2.5%;
        &:first-child, &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
    .cols-3 {
      .column {
        width: 31.5%;
        margin-top: 2.5%;
        &:first-child, &:nth-child(2), &:nth-child(3) {
          margin-top: 0;
        }
      }
    }
    .cols-4 {
      .column {
        width: 23.5%;
        margin-top: 2%;
        &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          margin-top: 0;
        }
      }
    }
    .cols-5 {
      .column {
        width: 18.5%;
        margin-top: 1.5%;
        &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
          margin-top: 0;
        }
      }
    }
  }
  @include limbo-only {
    .tab-cols-1 {
      .column {
        width: 100%;
        margin-top: 4%;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .tab-cols-2 {
      .column {
        width: 48%;
        margin-top: 4%;
        &:first-child, &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
    .tab-cols-3 {
      .column {
        width: 31.5%;
        margin-top: 3%;
        &:first-child, &:nth-child(2), &:nth-child(3) {
          margin-top: 0;
        }
      }
    }
    .tab-cols-4 {
      .column {
        width: 23.5%;
        margin-top: 1.33%;
        &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          margin-top: 0;
        }
      }
    }
  }
  @include tab-only {
    .tab-cols-1 {
      .column {
        width: 100%;
        margin-top: 4%;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .tab-cols-2 {
      .column {
        width: 48%;
        margin-top: 4%;
        &:first-child, &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
    .tab-cols-3 {
      .column {
        width: 31.5%;
        margin-top: 3%;
        &:first-child, &:nth-child(2), &:nth-child(3) {
          margin-top: 0;
        }
      }
    }
    .tab-cols-4 {
      .column {
        width: 23.5%;
        margin-top: 1.33%;
        &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          margin-top: 0;
        }
      }
    }
  }
  @include mob-only {
    .mob-cols-1 {
      .column {
        width: 100%;
        margin-top: 6%;
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .mob-cols-2 {
      .column {
        width: 48%;
        margin-top: 4%;
        &:first-child, &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
    .mob-cols-3 {
      .column {
        width: 32%;
        margin-top: 2%;
        &:first-child, &:nth-child(2), &:nth-child(3) {
          margin-top: 0;
        }
      }
    }
  }
