// File location: assets\src\sass\styles
.header-main {
  z-index: 9;
  .login-logout-link {
    a {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      color: var(--color-1) !important;
      font-weight: 700;
      img {
        margin-right: 10px;
      }
    }
    @include desk-min {
      margin-right: auto;
    }
  }
}
.sub-menu-trigger {
  svg {
    stroke: var(--color-1);
  }
}
.header-main {
  a {
    font-family: 'Font Primary';
  }
}
@include desk-min {
  .header-main {
    &.post-transparent-header {
      position: absolute;
      width: 100%;
      background-color: transparent !important;
      #primary-menu li a {
        color: #fff;
      }
    }
  }
  .menu-toggle {
    display: none;
  }
  .main-navigation {
    flex: 1 0 auto;
    margin-right: 20px;
    ul {
      display: flex;
    }
  }
  .stick-top .header-version-1 {
    .header-top {
      position: sticky;
      top: 0;
    }
  }
  .stick-main .header-version-1 {
    .header-main {
      position: sticky;
      top: 0;
    }
  }
  .header-version-1 {
    .header-top {
      display: flex;
      justify-content: space-between;
      background-color: var(--color-2);
      padding: 1rem 2.5rem;
      color: #fff;
      z-index: 9;
      .il_btn {
        line-height: 1;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      div {
        width: 100%;
        text-align: center;
      }
      .section_inner {
        display: flex;
      }
      &.left {
        .section_inner {
          justify-content: left;
        }
      }
      &.middle {
        .section_inner {
          justify-content: center;
        }
      }
      &.right {
        .section_inner {
          justify-content: right;
        }
      }
    }
    .header-main {
      background-color: #fff;
      box-shadow: -10px 2px 34px 0px rgba(0, 0, 0, 0.18);
      position: relative;
      &-inner {
        display: flex;
        width: 90%;
        max-width: 1600px;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        #primary-menu {
          justify-content: flex-end;
          flex-wrap: wrap;
          ul {
            &.sub-menu {
              display: flex;
              flex-direction: column;
              background-color: #fff;
              padding: 2rem;
              opacity: 0;
              transition: var(--theme-transition);
              li:not(:last-child) {
                a {
                  margin-bottom: 1.5rem;
                }
              }
            }
          }
          > li {
            display: flex;
            justify-content: center;
            align-items: center;
            &:not(:first-child) {
              padding-left: 20px;
            }
            .sub-menu-trigger {
              top: 3px;
              position: relative;
              right: 13px;
              transform: rotate(45deg);
              cursor: pointer;
              transition: var(--theme-transition);
              svg {
                stroke: var(--color-1);
              }
              > .sub-menu {
                font-size: 17px;
              }
          }
          // &:nth-last-child(2) {
          //   margin-right: 3rem;
          // }
          &.menu-li-hide-desktop {
            display: none;
          }
          }
          > li:hover {
            .sub-menu-trigger{
              transform: rotate(90deg);
              top: 1px;
              right: 17px;
            }
            .sub-menu {
              opacity: 1;
            }
          }
          a {
            margin-right: 2rem;
            color: var(--color-text);
            font-size: 16px;
          }
        }
        .logo-wrap {
          flex: 15% 0 0;
          line-height: 0;
          height: 9rem;
          display: flex;
          justify-content: flex-end;
          a {
            height: 100%;
            img {
              height: 100%;
              object-fit: contain;
              object-position: left;
              width: auto;
              min-height: 9rem;
            }
          }
        }
        .nav-button.il_btn {
          flex-shrink: 0;
          margin-right: 3rem;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          background-color: var(--color-2);
          z-index: 10;
          font-size: 14px;
          font-weight: 700;
          padding: 1.6rem 3.2rem;
          @include limbo-max {
            padding: 1.8rem 3.8rem;
          }
        }
      }
    }
  }
  .acf-main-menu-container {
    #primary-menu {
      li {
        &:last-child {
          display: none;
        }
      }
    }
  }
}

.admin-bar {
  &.stick-top .header-version-1 .header-top, &.stick-main .header-version-1 .header-main {
    top: 32px;
  }
  @media (max-width: 782px) {
    &.stick-top .header-version-1 .header-top, &.stick-main .header-version-1 .header-main {
      top: 46px;
    }
  }
}
