// File location: assets\src\sass\styles\template-style


/* ACF Chrome bug Fix */

.interface-interface-skeleton__content div.acf-field-tab, .acf-settings-wrap div.acf-field-tab {
  display: block!important;
  font-size: 0;
  height: 0;
  padding: 0!important;
  opacity: 0;
  pointer-events: none;
  * {
    pointer-events: none!important;
  }
}

div {
  &.block_space_1 {
    padding-top: var(--b-space-1-ld);
    padding-bottom: var(--b-space-1-ld);
    @include limbo-max {
      padding-top: var(--b-space-1-mt);
      padding-bottom: var(--b-space-1-mt);
    }
  }
  &.block_space_2 {
    padding-top: var(--b-space-2-ld);
    padding-bottom: var(--b-space-2-ld);
    @include limbo-max {
      padding-top: var(--b-space-2-mt);
      padding-bottom: var(--b-space-2-mt);
    }
  }
  &.block_space_3 {
    padding-top: var(--b-space-3-ld);
    padding-bottom: var(--b-space-3-ld);
    @include limbo-max {
      padding-top: var(--b-space-3-mt);
      padding-bottom: var(--b-space-3-mt);
    }
  }
  &.block_space_4 {
    padding-top: var(--b-space-4-ld);
    padding-bottom: var(--b-space-4-ld);
    @include limbo-max {
      padding-top: var(--b-space-4-mt);
      padding-bottom: var(--b-space-4-mt);
    }
  }
  &.block_space_5 {
    padding-top: var(--b-space-5-ld);
    padding-bottom: var(--b-space-5-ld);
    @include limbo-max {
      padding-top: var(--b-space-5-mt);
      padding-bottom: var(--b-space-5-mt);
    }
  }
  &.margin-sm {
    margin-bottom: 3rem;
  }
  &.margin-md {
    margin-bottom: 5rem;
  }
  &.margin-lg {
    margin-bottom: 7rem;
  }
  &.margin-xl {
    margin-bottom: 10rem;
  }
}

.il_block {
  position: relative;
  z-index: 2;
}
.il_block {
  position: relative;
  z-index: 2;
}
.il_block_bg {
  z-index: -1;
  @include ab-bg;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  .desk_bg {
    z-index: -1;
    @include tab-max {
      &.hide_desk_bg_mob {
        display: none;
      }
    }
  }
  .mob_bg {
    z-index: -1;
    @include limbo-min {
      display: none;
    }
  }
  .bg_element {
    position: absolute;
    z-index: -1;
    width: var(--bg-e-width-lg);
    height: var(--bg-e-height-lg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: var(--bg-e-left-lg);
    margin-right: var(--bg-e-right-lg);
    margin-top: var(--bg-e-top-lg);
    margin-bottom: var(--bg-e-bottom-lg);
    @include limbo-max {
      width: var(--bg-e-width-mt);
      height: var(--bg-e-height-mt);
      margin-left: var(--bg-e-left-mt);
      margin-right: var(--bg-e-right-mt);
      margin-top: var(--bg-e-top-mt);
      margin-bottom: var(--bg-e-bottom-mt);
      display: var(--bg-e-display-mobile);
    }
    @include desk-min {
      display: var(--bg-e-display-desktop);
    }
  }
}

@include mob-only {
  .il_hm { // Hides element on Mobile
    display: none;
  }
}