.fp-enabled {
    #fp-nav {
        z-index: 8;
        @include mob-only {
            &.fp-right {
                right: 5px;
                ul li a.active span {
                    margin-left: -4px;
                }
            }
            &.fp-left {
                left: 5px;
                ul li a.active span {
                    margin-left: -4px;
                }
            }
            .fp-tooltip {
                display: none;
            }
            ul li a.active span {
                width: 8px;
                height: 8px;
            }
        }

    }
.stick-main #page {
    @include desk-min {
        .header-top {
            position: absolute;
            top: 0;
            width: 100%;
        }
        .header-top + .header-main  {
            position: absolute;
            top: 6rem;
            width: 100%;
        }
        .fp-overflow {
            margin-top: 10.5rem;
        }
    }
}
}