.il_hero_slidein {
  background-size: cover;
  display: flex;
  background-color: #F5F5F5;

  .il_hero_inner_wrap {
    padding-top: 20rem;
    width: 100%;
    position: relative;
    background-color: #000105;
    .il_block_bg {
      overflow: hidden;
      text-align: right;
      left: unset;
      z-index: 1;
      transition: var(--theme-transition);
      video {
        position: relative;
      }
    }
  }
  &:not(.si_open) {
    .si_triggers {
      margin-bottom: 10rem;
    }
  }
  &.si_open {
    .il_hero_inner_wrap .il_block_bg {
      opacity: 0.4;
    }
    .si_container {
      background-position: top;
      @include sm-desk-only {
        min-height: calc(100vh - 16rem);
        display: flex;
        .si_container_inner {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
      .si_triggers {
        padding-bottom: 10rem;
        .il_block_bg {
          opacity: 1;
        }
        @include sm-desk-only {
          flex: 1 auto;
          display: flex;
          flex-wrap: wrap;
          align-content: flex-end;
        }
        @include sm-desk-only {
          padding-bottom: 6rem;
        }
        @include md-desk-only {
          padding-bottom: 7rem;
        }
      }
    }
  }
  .il_hero_inner {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20rem;
    z-index: 2;
    .intro_title, .il_hero_subtitle, .il_buttons {
      transition: var(--theme-transition);
    }
    @include tab-max {
      margin-bottom: 500px;
    }
    .il_buttons {
      margin-top: 5rem;
    }
  }
  .intro_title {
    font-size: 12.2rem;
    line-height: 1;
  }
  .il_hero_subtitle {
    font-size: 5rem;
    color: #fff;
  }

  &.full-screen {
   @include limbo-min {
    min-height: calc(100vh - 16rem);
   }
    .hero_inner {
      justify-content: center;
    }
  }

  .trigger-wrap {
    position: relative;
  }
}

.si-1 {
  svg path {
    fill: #009688;
  }
}
.si-2 {
  svg path {
    fill: #05B0D6;
  }
}
.si-3 {
  svg path {
    fill: #FEC000;
  }
}
.si-4 {
  svg path {
    fill: #F21971;
  }
}
.si-5 {
  svg path {
    fill: #683AB7;
  }
}

.si_container .il_slidein {
  @include tab-max {
    padding-top: 4rem;
    padding-bottom: 23rem;
  }
  @include sm-desk-only {
    padding-top: 4rem;
    padding-bottom: 12rem;
  }
  @include md-desk-only {
    padding-top: 5rem;
  }

  &:nth-child(2) .si_title {
    svg path {
      fill: #009688;
    }
  }
  &:nth-child(3) .si_title {
    svg path {
      fill: #05B0D6;
    }
  }
  &:nth-child(4) {
    svg path {
      fill: #FEC000;
    }
  }
  &:nth-child(5) .si_title {
    svg path {
      fill: #F21971;
    }
  }
  &:nth-child(6) .si_title {
    svg path {
      fill: #683AB7;
    }
  }
}


.si_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 4;
}
.si_triggers {
  position: relative;
  z-index: 9;
  > .container {
    display: flex;
    flex-wrap: wrap;
  }
  .il_block_bg {
    opacity: 0;
    transition: var(--theme-transition);
  }
  .container {
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include sm-desk-only {
      padding-bottom: 2rem;
    }
  }
  .si_trigger {
    cursor: pointer;
    color: #fff;
    display: inline-flex;
    align-items: center;
    padding-right: 3rem;
    margin-right: 3rem;
    position: relative;
    transition: var(--theme-transition);
    position: relative;
    z-index: 2;
    &.si_open {
      pointer-events: none;
    }

    .si_ti {
      transform: rotate(-45deg);
      right: 0rem;
      transition: var(--theme-transition);
      position: absolute;
      bottom: 0;
    }
    &.si_open {
      .si_ti {
        bottom: -100px;
        transform: rotate(90deg);
        right: calc(50% + 2.5rem);
        @include sm-desk-only {
          bottom: -54px;
        }
        @include md-desk-only {
          bottom: -71px;
        }
      }
    }
  }
   .close-trigger {
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    cursor: pointer;
  }
}
.il_slidein {
  position: relative;
  display: none;
  background: linear-gradient( to right, #03143d 0%, #062a76 100%);
  z-index: 2;
  .il_block_bg {
    z-index: 1;
    width: 57%;
    margin-right: 0;
    margin-left: auto;
    img {
      width: auto;
      right: 0;
      @include tab-max {
        width: 100%;
      }
    }
  }
  .si_close {
    color: #fff;
    font-size: 3.5rem;
    cursor: pointer;
    position: absolute;
    top: 7.5rem;
    @include sm-desk-only {
      top: 2.5rem;
    }
    @include md-desk-only {
      top: 3.5rem;
    }
  }
  .si_title {
    color: #fff;
    font-family: Kodchasan;
    font-size: 7.2rem;
    margin-bottom: 4.5rem;
    @include limbo-min {
      pointer-events: none;
    }
    @include sm-desk-only {
      margin-bottom: 3.5rem;
    }
    svg {
      width: 7rem;
      height: 7rem;
      transform: rotate(-45deg);
      margin-bottom: 3rem;
    }
  }
  .si_content {
    width: 50%;
    margin-top: 2.5rem;
    z-index: 2;
    position: relative;
    color: #fff;
  }
  .il_btn {
    color: var(--color-2);
    svg {
      path {
        fill: var(--color-2);
      }
    }
  }
}

@include tab-max {
  .si_triggers {
    display: none;
  }
  .si_close {
    display: none;
  }
  .il_block.il_hero_slidein {
    display: flex;
    flex-direction: column;
    .il_hero_inner {
      .il_buttons {
        display: none;
      }
    }
    .il_buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .il_btn:first-child {
        margin-bottom: 15px;
      }
    }

  }
  .si_container {
    width: 90%;
    left: 5%;
    background-color: var(--color-1);
    border-radius: 35px;
    position: relative;
    background: linear-gradient( #062870 0%, #021031 100%);
    margin-top: -380px;
    .si_container_inner {
      display: flex;
      flex-direction: column;
    }
    .il_block_bg {
      height: 80px;
      opacity: 0;

      transition: var(--theme-transition);
     @include tab-only {
        height: 106px;
      }
      margin-bottom: 0;
      margin-top: auto;
      width: 100%;
    }
    .il_slidein {
      background: linear-gradient(to top, #062366 0%, #010d28 100%);
      &.si-1 {
        border-radius: 35px 35px 0 0;
        padding-top: 6rem !important;
      }
      &.si-5, &.si-5 img {
        border-radius: 0 0 35px 35px;
      }
    }
    .mobile_trigger {
      width: 100%;
      padding-top: 25px;
      &:first-of-type {
        padding-top: 50px;
      }
      &:last-of-type {
        padding-bottom: 50px;
      }
      padding-bottom: 10px;
      display: flex;
      justify-content: center;
      color: #fff;
      font-family: Kodchasan;
      &.si_open {
        display: none;
      }
      svg {
        transform: rotate(-45deg);
        margin-top: -5px;
        margin-bottom: 5px;
      }
      span {
        font-size: 20px;
      }
    }
    .si_content {
      width: 100%;
      .si_title {
        font-size: 20px;
        text-transform: none;
        svg {
          width: 16px;
          height: 16px;
          transform: rotate(90deg);
          margin-bottom: 1rem;
          margin-left: 1rem;
        }
      }
    }
  }
  .si_open {
    .il_block_bg {
      transition-delay: .4s;
      transition-property: opacity;
      opacity: 1;
    }
  }
}

@include limbo-min {
  .mobile_trigger {
    display: none;
  }
}